.popup {
    position: fixed;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    display: flex;
    padding: 50px;
    z-index: 100;
    background: rgba(0, 0, 0, .7);
    visibility: hidden;


}

.popup_container {
    max-height: 550px;
    width: 310px;
    margin: 0 auto;
    background-color: #ffff;
    position: relative;
    padding: 30px 15px;
}

.form_group {
    margin-bottom: 30px;
}

.feedback_title {
    font-size: 16px;
    margin-bottom: 30px;
}

.popup_text {
    font-size: 13px;
}

.select {
    margin-top: 10px;
    width: 265px;
    height: 43px;
    background-color: #f4f7f6;
    border: 0px;
    outline: 0px;
    -webkit-appearance: none;
    background-image: url(../../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 8px;
    padding-left: 15px;
}

.yes_no {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.checkbox_group:nth-child(2) {
    margin-left: 30px;
}

.checkbox_group__text {
    font-size: 13px;
}

.checkbox_group__control {
    visibility: hidden;
}

.checkbox_group__text::before {
    content: "";
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    margin-right: 15px;
}

.checkbox_group__control:checked+.checkbox_group__text::before {
    background-image: url(../../svg/form-circle.svg);

}

.content_field {
    margin-top: 10px;
    width: 278px;
    height: 130px;
    border: none;
    background-color: #f4f7f6;
}

.send__button {
    width: 280px;
    height: 48px;
    background-color: #b59f5b;
    border: none;
    font-family: open-sans-b, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    cursor: pointer;
}

.popup_close {
    background-image: url(../../svg/form-x.svg);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    position: absolute;
    top: -30px;
    right: 0;
    background-color: transparent;
    cursor: pointer;
}
