.search {
  margin-top: 60px;
  display: flex;
  width: calc(100% - 52px);
} 

.field {
  width: 100%;
 height: 47px;
font-size: 13px;
border: none;
background-color: #f4f7f6;
 padding-left: 19px;
}

.field:focus {
  outline: none;
  border-color: #9b59b6;
}

.hidden{
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.search_button {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  height: 47px;
  width: 50px;
  border: none;
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px;
  cursor: pointer;
}
.search_button:hover {
  background-color: #e2595e;
}